body {
    background-image: url(img/priroda1.jpg);
    background-size: cover;
   margin: 0;
   padding: 0;
    height: 100%;
    width: 100%;
    /* padding-left: 10%;
    padding-right: 10%;
     */
}

.navbar { 
    position: fixed;
    left: 0;
    top: 0;
    height: 12vh;
    background-color:black;
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "ime-sajta linkovi";
}
  
.ime-sajta { 
        grid-area: ime-sajta; 
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-end;
}
  
.linkovi {
    margin-left: 100px;
    margin-right: 100px;
        grid-area: linkovi;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-end;
    }
.linkovi a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
}
.ime-sajta h1 {
    font-size: 30px;
    color: white;
}
  
.content {
    margin-top: 12vh;
    padding-top: 40px;
    height: 40vh;
    margin-left: 10%;
    width: 50%;
    color:  white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
#filter {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.content h4 {
    font-size: 40px;
}
.content h1 {
    padding-top: 0px;
    font-size: 100px;
}
.content p {
    font-size: 25px
}
.content button {
    
    border: none;
    height: 80px;
    width:200px;
    border-radius: 2px;
    background-color: black;
}
.content button a {
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.content button:hover {
    color: black;
    background-color: rgba(5, 0, 0, 0.6);
}

.destinacije {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-end;
        margin-top: 400px;
        height: 300px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
}
.destinacije div {
    width: 200px;
    height: 200px ;
    color: transparent;
    background-color: transparent;
}
.destinacije div:hover {
    width: 250px;
    height: 250px;
    color: white;
    background-color: black;
   
}
.destinacije p {
    background-color: inherit;
    color: inherit;
    width: 100px;   
    position: relative;
    left: 90px;
    top: 120px;
    font-size: 30px;
    font-weight: bold;
}
#croatia {
    background-image: url(img/croatia.jpg);
    background-size: cover;
}
#spain {
    background-image: url(img/spain);
    background-size: cover;
}
#italy {
    background-image: url(img/italy.jpg);
    background-size: cover;
}
#iceland {
    background-image: url(img/iceland.jpg);
    background-size: cover;
}
.destinacije #italy p {
    width: 65px;
}
.destinacije #spain p {
    width: 75px;
}
