h1 {
    text-align: center;
    color: #0f1036;
    font-size: 90px;
}
.prvi {
    padding-top: 20px;
    padding-left: 90px;
}
.prvi h4 {
    color: #1c0a59;
    font-size: 40px;
}
.prvi p {
    font-style: bold;
    font-size: 30px;
    font-weight: 900;
}
#nesto {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(117, 119, 240, 0.2); 
} 
#prvi {
    padding: 30px;
    
}
#drugi {
    padding: 30px;
}
#prvi span {
    background-color: #0f1036;
    font-size: 20px;
    padding: 25px;
    color: azure;
    border-radius: 20px;
    margin-bottom: 50px;
}
#prvi p {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #2c2d73;
    padding-left: 5%;
    
}
#drugi span {
    background-color: #0f1036;
    font-size: 20px;
    padding: 25px;
    color: azure;
    border-radius: 20px;
    margin-bottom: 50px;
}
#drugi p {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #2c2d73;
    padding-left: 5%;
}
img{
    
    width: 100%;
        
}
#nesto1 {
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(57, 84, 49, 0.2); 
} 
#prvi span,#drugi span {
    background-color: #0d3800;
 
}

.a, .b,.c {
    height: 30vh;
    width: 250px;
}

.a {
    background-color: #2c2d73;
}
.b {
    background-color:#1c0a59;
    position: relative;
}
.c {
    background-color: #0d3800;
}
#crveni {
background-color: red;
height: 200px;
width: 600px;
}
#plavi {
    background-color: blue;
    height: 200px;
    width: 600px;
    position: relative;
    }
#zuti {
    position: absolute;
    background-color: yellow;
    width: 250px;
    height: 200px;
}
#zeleni {
    background-color: green;
    height: 200px;
    width: 600px;
        }
#navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: antiquewhite;
   
}

#logo {
    width: 20px;
    height: 45px;
    position: absolute;

}
#logo-div {
    height: 100%;
    position: relative;
    background-image: url(img/png-transparent-mclaren-wave-logo-car-logos-thumbnail-removebg-preview.png);
    background-size: 10vh;
    background-position: center;
    background-repeat: no-repeat;
}
#links {
    height: 10vh;
    
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 0px;
}
#links a {
    padding-left: 30px;
    padding-top: 50px;
    text-decoration: none;
    color: #0f1036;
}
#links a:hover {
    color: #c2910c;
}
#navbar div {
    display: inline-block;
    justify-content: space-between;
    width: 32%;
}
#slika {
    background-image: url(img/cubes-677092_1280.webp);
    width: 100%;
    height: 40vh;
}
.vozaci {
    height: 50vh;
    background-color: cadetblue;
    position: relative;
}
.vozaci div {
    position: absolute;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    border-radius: 1px solid black;
}

#vozac1 {
    
left: 0;
background-image: url(img/f1.jpg);
background-size: cover;
}

#vozac1 h4, p {
    font-weight: 900;
    position: absolute;
    left:  20%;
    top: 30%;
}
#vozac1 h4 {
    background-color: aqua;
    border-radius: 10px;
    font-size: 40px;
    color: #29201f;
    padding: 10px 10px;
}
#vozac1 p {
    padding: 10px 10px;
    top:  60%;
    background-color: aqua;
    border-radius: 10px;
    font-size: 20px;
    color: #29201f;
}
#vozac1 h4:hover, #vozac1 p:hover{
    background-color: white;
    color: black;
}
#vozac2 {
background-size: cover;
right: 0;
background-image: url(img/max.jpg);
}
#vozac2 h4, p {
    font-weight: 900;
    position: absolute;
    left:  20%;
    top: 30%;
}
#vozac2 h4 {
    background-color: aqua;
    border-radius: 10px;
    font-size: 40px;
    color: #29201f;
    padding: 10px 10px;
}
#vozac2 p {
    padding: 10px 10px;
    top:  60%;
    background-color: aqua;
    border-radius: 10px;
    font-size: 20px;
    color: #29201f;
}
#vozac2 h4:hover, #vozac2 p:hover{
    background-color: white;
    color: black;
}